################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/JobApplication/obj/Debug/JobApplication.Web.csprojResolveAssemblyReference.cache
